# Maven
target/
**/target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

# IDEs
.idea/
*.iml
*.iws
*.ipr
.vscode/
.settings/
.classpath
.project
.factorypath

# Environment
.env
.env.local
.env.*.local
# No ignoramos .env.example para que sirva de guía

# OS
Thumbs.db
.DS_Store

# Logs
*.log
logs/
**/logs/
