SPRING_PROFILES_ACTIVE=prod
CONFIG_SERVER_URL=http://config-server:7071
PRACTICE_MYSQL_ROOT_PASSWORD=
PRACTICE_MYSQL_DATABASE=
PRACTICE_DB_HOST=
PRACTICE_DB_PORT=
PRACTICE_DB_NAME=
PRACTICE_DB_USERNAME=
PRACTICE_DB_PASSWORD=
